// body {
//   font-family: sans-serif;

//   a {
//     text-decoration: none;
//   }

//   label {
//     display: block;
//   }

//   nav a {
//     display: inline-block;
//     margin: 1em;
//   }

//   form div {
//     margin: 1em;
//     display: inline-block;
//   }
// }
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Oswald|Passion+One");
body {
  margin:0;
  height:100%;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
}
// .nav {
//   display: flex;
//   padding: 0 15px;
//   position: fixed;
//   bottom : 0px;
// }
h1{
  font-size: 200px;
  color: white;
}
.nav h1 a{
  // color: #B16353;
  color: white;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
  border: 1px solid transparent;
  transition: border 2s;
}
.nav h1 a:hover {
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px; }

h2 {
  color: #5e5e5e;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 0px; }

h3 {
  color: #5e5e5e;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px; }

ul {
  padding-top: 12px; }

ul li {
  display: inline;
  padding: 15px;
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
  border: 1px solid transparent;
  transition: border 2s;
  
  }

ul li a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
  border: 1px solid transparent;
  transition: border 2s; }

ul li a:hover {
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px; }
 
#page {
  position:absolute;
  top:0;
  left:0;
  right:0;
}
section {
  height:100vh;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}
section > div {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  font-weight:bold;
  font-size:8vw;
  color:white;
  text-align:center;
}

.next {
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-36px;
  cursor:pointer;
  font-size:400%;
}
.next:after {
  content:'▼';
}

.first {
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-36px;
  cursor:pointer;
  font-size:400%;
}
.first:after {
  content:'▲';
}

select button:not(.next) {
    content: '▼';
}

.one {
  background: url('https://static1.squarespace.com/static/55b46119e4b0840c30e12ee7/55b463b3e4b0b782bedef453/561b3e84e4b0b6c3337781a7/1453622764021/cambodiankids.jpg?format=1500w') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.two {
   background: url('https://www.webtrafficthatworks.com/wp-content/uploads/2017/07/o-SMILING-AFRICAN-CHILDREN-facebook.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.three {
  background: url('http://www.ctmuslimaat.org/wp-content/uploads/2017/04/The-Status-of-Children-in-Islam-Part-1-2-1024x683-1024x683.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
  width:100%;
  height:100vh;
  justify-content: center;

}
.three-child{
  height:100vh;
  flex:1;
  width:100%;
  align-content: center;
}
.four {
  background: url('https://lucazordan.files.wordpress.com/2014/03/lucazordan-tibet2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
  align-self: center;
}
.nav h1{
  top:0;
  height:100%;
}
ul {
    top:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
// .nav {
//   position: fixed;
//   background: rgba(255, 255, 255, 0.7);
//   top: 0;
//   left: 0;
//   right:0;
//   padding: 16px;

// }
